.ng-select.custom ::ng-deep .ng-select-container  {
  height: 39px;
  border: 1px solid #DDDDDD;
 }

 .lbcheck{
     font-size: 14px !important;
 }

 .legend-lb{
     font-size: 20px;
 }
 .modal-header-custom {
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 22px;
    background-color: #f4f3ef;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-footer-custom {
    border-top: 1px solid rgb(212, 212, 212);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-custom{
    height: 36px;
}

.inscricaoEstadual {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.informacoes {
  font-size: 12px;
}

.nDecreto {
  background-color: #3498db;
  color: #FFF;
  padding: 2px;
  border-radius: 4px;
  font-weight: 500;
  white-space: 0.5;
}
