<div class="toolbar">
  <div class="d-flex justify-content-between">

      <div>
          <div *ngIf="isLoad" class="spinner-border text-secondary"></div>
      </div>

      <div class="d-flex justify-content-end">
          <button class="btn btn-primary btn-round btn-icon mr-2" (click)="openModal(template)">
              <i class="fa fa-plus"></i>
          </button>
      </div>
  </div>

</div>

<div>
  <table class="table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <div class="d-flex flex-row justify-content-between align-items-end mb-2">
                <span class=" total">Total de registros: {{matrizList.length}}. Mostrando 10.</span>
                <input type="text" id="buscarNomeFantasia" class="form-control"  placeholder="Buscar por ..." style="width: 300px;" (keyup.enter)="sendit($event.target.value)">
            </div>
        </tr>
    </thead>
    <tbody class="mt-4">
        <tr
            *ngFor="let row of listMatrizListDynamic | paginate: { id: 'id', itemsPerPage: 10, currentPage: p}; index as i; ">
            <div class="d-flex flex-column " style="padding: 12px 8px 12px 8px">

                <div class="d-flex justify-content-between">
                    <span class="inscricaoEstadual" (click)="openModal(template, 'update', row)" >{{row.inscricaoEstadual.inscricao}}</span>

                    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onDelete(row)">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                    </button>
                </div>

                <span class="nDocumento">{{row.numeroDocumento}}</span>
                <span class="informacoes">{{row.destinacao.nome}}, {{row.tributacao.nome}}, {{row.tipoDocumentoTributacao.nome}}, {{row.utilizacao.nome}}</span>
                <div style="font-size: 11px;" class="mt-1">
                  <span class="nDecreto">{{row.decreto}}</span>
                </div>
            </div>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-end">
   <pagination-controls id="agente_id" (pageChange)="p = $event"></pagination-controls>
</div>
</div>

<ng-template #template>

  <div class="col-md-12 d-flex justify-content-between modal-header-custom">

      <h5 class="modal-title pull-left"> <i class="fa fa-building" aria-hidden="true"></i> {{titleModal}} Matriz de Tributos</h5>

      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>

  </div>
  <div class="mt-4">
    <form [formGroup]="form">
      <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
                <label>Inscrição Estadual</label>
                <div class="form-group">
                  <div class="form-group">
                      <ng-select [items]="inscricaoEstadual" bindLabel="inscricao" class="custom" bindValue="id"
                          appendTo="body" formControlName="iestadual" placeholder="Selecione a inscrição estadual" required></ng-select>
                  </div>
                  <small *ngIf="(formControl.iestadual.touched || submitted) && formControl.iestadual.errors?.required"
                      class="text-danger">
                      Inscrição Estadual é obrigatório <i>*</i>
                  </small>
              </div>
            </div>
            <div class="col-md-4">
              <label>Produto Suframa</label>
              <div class="form-group">
                <div class="form-group">
                    <ng-select [items]="prodSuframaNcm$ | async" bindValue="id" [minTermLength]="minLengthTerm"
                        [loading]="prodSuframaNcmLoading"
                        typeToSearchText="Por favor digite {{minLengthTerm}} ou mais caractéres"
                        [typeahead]="prodSuframaNcmInput$" formControlName="prodSuframa" placeholder="Selecione Produto Suframa NCM..." required>

                        <ng-template ng-option-tmp ng-label-tmp let-item="item">
                            <span [innerHTML]="item.codigo_nome | boldSpan:regexStr"></span>

                        </ng-template>

                    </ng-select>
                </div>
                <small *ngIf="(formControl.prodSuframa.touched || submitted) && formControl.prodSuframa.errors?.required"
                    class="text-danger">
                    Produto Suframa é obrigatório <i>*</i>
                </small>
                </div>
            </div>
            <div class="col-md-4">
            <label>NCM</label>
            <div class="form-group">
              <div class="form-group">
                <ng-select [items]="ncm$ | async" bindValue="id" [minTermLength]="minLengthTerm"
                [loading]="ncmLoading"
                typeToSearchText="Por favor digite {{minLengthTerm}} ou mais caractéres"
                [typeahead]="ncmInput$" formControlName="ncm" placeholder="Selecione um NCM..." required>

                <ng-template ng-option-tmp ng-label-tmp let-item="item">
                    <span [innerHTML]="item.codigo_nome | boldSpan:regexStr"></span>

                </ng-template>

            </ng-select>
              </div>
              <small *ngIf="(formControl.ncm.touched || submitted) && formControl.ncm.errors?.required"
                  class="text-danger">
                  NCM é obrigatório <i>*</i>
              </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <label>Destinação</label>
                <div class="form-group">
                  <div class="form-group">
                      <ng-select [items]="destinacao" bindLabel="codigo" class="custom" bindValue="id"
                          appendTo="body" formControlName="destinacao" placeholder="Selecione a destinação" required>
                          <ng-template ng-label-tmp let-item="item">
                            <span >{{ item.codigo + ' : ' + item.nome }}</span>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                            <span >{{ item.codigo + ' : ' + item.nome }}</span>
                          </ng-template>
                      </ng-select>
                  </div>
                  <small *ngIf="(formControl.destinacao.touched || submitted) && formControl.destinacao.errors?.required"
                      class="text-danger">
                      Destinação é obrigatório <i>*</i>
                  </small>
              </div>
            </div>
            <div class="col-md-4">
              <label>Utilização</label>
              <div class="form-group">
                <div class="form-group">
                    <ng-select [items]="utilizacao" bindLabel="codigo" class="custom" bindValue="id"
                        appendTo="body" formControlName="utilizacao" placeholder="Selecione a utilização" required>
                        <ng-template ng-label-tmp let-item="item">
                          <span >{{ item.codigo + ' : ' + item.nome }}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                          <span >{{ item.codigo + ' : ' + item.nome }}</span>
                        </ng-template>
                    </ng-select>
                </div>
                <small *ngIf="(formControl.utilizacao.touched || submitted) && formControl.utilizacao.errors?.required"
                    class="text-danger">
                    Utilização é obrigatório <i>*</i>
                </small>
            </div>
            </div>
            <div class="col-md-4">
            <label>Tributação</label>
            <div class="form-group">
              <div class="form-group">
                  <ng-select [items]="tributacao" bindLabel="codigo" class="custom" bindValue="id"
                      appendTo="body" formControlName="tributacao" placeholder="Selecione a Tributação" required>
                      <ng-template ng-label-tmp let-item="item">
                        <span >{{ item.codigo + ' : ' + item.nome }}</span>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                        <span >{{ item.codigo + ' : ' + item.nome }}</span>
                      </ng-template>
                  </ng-select>
              </div>
              <small *ngIf="(formControl.tributacao.touched || submitted) && formControl.tributacao.errors?.required"
                  class="text-danger">
                  Tributação é obrigatório <i>*</i>
              </small>
          </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <label>CRA</label>
                <div class="form-group">
                    <input type="text" class="form-control input-custom" id="Cra" formControlName="Cra" required>
                    <small *ngIf="(formControl.Cra.touched || submitted) && formControl.Cra.errors?.required"
                        class="text-danger">
                        CRA obrigatório! <i>*</i>
                    </small>
                </div>
            </div>
            <div class="col-md-4">
              <label>Tipo de Documento</label>
              <div class="form-group">
                <div class="form-group">
                    <ng-select [items]="tipoDocumentoTributacao" bindLabel="codigo" class="custom" bindValue="id"
                        appendTo="body" formControlName="tipoDocumento" placeholder="Selecione o tipo de documento" required>
                        <ng-template ng-label-tmp let-item="item">
                          <span >{{ item.codigo + ' : ' + item.nome }}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                          <span >{{ item.codigo + ' : ' + item.nome }}</span>
                        </ng-template>
                    </ng-select>
                </div>
                <small *ngIf="(formControl.tipoDocumento.touched || submitted) && formControl.tipoDocumento.errors?.required"
                    class="text-danger">
                    Tipo de documento é obrigatório <i>*</i>
                </small>
            </div>
            </div>
            <div class="col-md-4">
            <label>Decreto</label>
              <div class="form-group">
                  <input type="text" class="form-control input-custom" id="decreto" formControlName="decreto" required>
                  <small *ngIf="(formControl.decreto.touched || submitted) && formControl.decreto.errors?.required"
                      class="text-danger">
                      Decreto obrigatório! <i>*</i>
                  </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <label>Número do Documento</label>
                <div class="form-group">
                    <input type="text" class="form-control input-custom" id="numeroDocumento" formControlName="numeroDocumento" required>
                    <small *ngIf="(formControl.numeroDocumento.touched || submitted) && formControl.numeroDocumento.errors?.required"
                        class="text-danger">
                        Número do Documento obrigatório! <i>*</i>
                    </small>
                </div>
            </div>
            <div class="col-md-4">
              <label>Início da Vigência</label>
              <div class="form-group">
                  <input type="date" class="form-control input-custom" id="inicioVigencia" formControlName="inicioVigencia" required>
                  <small *ngIf="(formControl.inicioVigencia.touched || submitted) && formControl.inicioVigencia.errors?.required"
                      class="text-danger">
                      Início da Vigência obrigatório! <i>*</i>
                  </small>
              </div>
            </div>
            <div class="col-md-4">
            <label>Fim da Vigência</label>
              <div class="form-group">
                  <input type="date" class="form-control input-custom" id="fimVigencia" formControlName="fimVigencia" required>
                  <small *ngIf="(formControl.fimVigencia.touched || submitted) && formControl.fimVigencia.errors?.required"
                      class="text-danger">
                      Fim da Vigência obrigatório! <i>*</i>
                  </small>
              </div>
            </div>
          </div>
      </div>
      <div>
        <div class="col-md-12 d-flex justify-content-end mt-4 modal-footer-custom">
            <button type="button" class="btn btn-primary mt-4 mb-4" (click)="onSubmit()">
                <div *ngIf="isLoadSave" class="spinner-border spinner-border-sm text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <span *ngIf="!isLoadSave">Salvar</span>
            </button>
        </div>
    </div>
      </form>
  </div>
</ng-template>
