<div class="main-content-custumer-gan">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-12">

                                <fieldset class="border p-2">
                                    <legend class="w-auto legend-lb">Informações Pessoais</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Nome Completo</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="nome" formControlName="nome"
                                                    placeholder="" required>
                                                <small
                                                    *ngIf="(formControl.nome.touched || submitted) && formControl.nome.errors?.required"
                                                    class="text-danger">
                                                    Nome é obrigatório <i>*</i>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Discipulador</label>
                                            <div class="form-group">

                                                <ng-select [items]="discipulador$ | async" bindValue="id"
                                                    [minTermLength]="minLengthTerm" [loading]="discipuladorLoading"
                                                    typeToSearchText="Por favor digite {{minLengthTerm}} ou mais caractéres"
                                                    [typeahead]="discipuladorInput$" formControlName="discipulador"
                                                    placeholder="Selecione Discipulador...">

                                                    <ng-template ng-option-tmp ng-label-tmp let-item="item">
                                                        <span [innerHTML]="item.nome | boldSpan:regexStr"></span>

                                                    </ng-template>

                                                </ng-select>
                                                <small
                                                    *ngIf="(formControl.discipulador.touched || submitted) && formControl.discipulador.errors?.required"
                                                    class="text-danger">
                                                    Discipulador é obrigatório <i>*</i>
                                                </small>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-4">
                                            <label>Data da conversão</label>
                                            <div class="form-group">
                                                <input type="date" class="form-control" placeholder=""
                                                    formControlName="dtconversao">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Data de Nascimento</label>
                                            <div class="form-group">
                                                <input type="date" class="form-control" placeholder=""
                                                    formControlName="dtnasc">
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <label>Sexo</label>
                                            <div class="d-flex mt-2">
                                                <div class="form-check-radio">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="sexo"
                                                            formControlName="sexo" id="condicaoRadios1" value="M">
                                                        Masculino
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                                <div style="width: 16px;"></div>
                                                <div class="form-check-radio">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="sexo"
                                                            formControlName="sexo" id="condicaoeRadios1" value="F">
                                                        Feminino
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <small
                                                *ngIf="(formControl.sexo.touched || submitted) && formControl.sexo.errors?.required"
                                                class="text-danger">
                                                Sexo é obrigatório <i>*</i>
                                            </small>

                                        </div>

                                    </div>

                                </fieldset>

                                <fieldset class="border p-2 mt-3">
                                    <legend class="w-auto legend-lb">Endereço</legend>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>CEP <a
                                                    href="https://buscacepinter.correios.com.br/app/endereco/index.php"
                                                    target="_blank">(Encontrar meu cep)</a></label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder=""
                                                    formControlName="cep" mask="00000-000"
                                                    (blur)="onBlurMethod($event.target.value)">
                                                <small
                                                    *ngIf="(formControl.cep.touched || submitted) && formControl.cep.errors?.required"
                                                    class="text-danger">
                                                    Cep é obrigatório <i>*</i>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Logradouro</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder=""
                                                    formControlName="logradouro" [readonly]="true">
                                                <small
                                                    *ngIf="(formControl.logradouro.touched || submitted) && formControl.logradouro.errors?.required"
                                                    class="text-danger">
                                                    Logradouro é obrigatório <i>*</i>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Número</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder=""
                                                    formControlName="numero">
                                                <small
                                                    *ngIf="(formControl.numero.touched || submitted) && formControl.numero.errors?.required"
                                                    class="text-danger">
                                                    Número é obrigatório <i>*</i>
                                                </small>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Complemento</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder=""
                                                    formControlName="complemento">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Bairro</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder=""
                                                    formControlName="bairro" [readonly]="true">
                                                <small
                                                    *ngIf="(formControl.bairro.touched || submitted) && formControl.bairro.errors?.required"
                                                    class="text-danger">
                                                    Bairro é obrigatório <i>*</i>
                                                </small>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label>Cidade</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder=""
                                                    formControlName="cidade" [readonly]="true">
                                                <small
                                                    *ngIf="(formControl.cidade.touched || submitted) && formControl.cidade.errors?.required"
                                                    class="text-danger">
                                                    Cidade é obrigatório <i>*</i>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Estado</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder=""
                                                    formControlName="estado" [readonly]="true">
                                                <small
                                                    *ngIf="(formControl.estado.touched || submitted) && formControl.estado.errors?.required"
                                                    class="text-danger">
                                                    Estado é obrigatório <i>*</i>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>País</label>
                                            <div class="form-group">

                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder=""
                                                        formControlName="pais" [readonly]="true">
                                                </div>
                                                <small
                                                    *ngIf="(formControl.pais.touched || submitted) && formControl.pais.errors?.required"
                                                    class="text-danger">
                                                    País é obrigatório <i>*</i>
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>

                                <fieldset class="border p-2 mt-3">
                                    <legend class="w-auto legend-lb">Contato</legend>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Telefone</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder=""
                                                    formControlName="telefone" mask="(00) 00000-0000">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Email</label>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder=""
                                                    formControlName="email">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">
                        <div *ngIf="isLoadSave" class="spinner-border spinner-border-sm text-light" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span *ngIf="!isLoadSave">Salvar</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>