<div class="card">
  <div class="card-body">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul id="tabs" class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">Básico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#itens" role="tab" aria-expanded="false">Itens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#fornecedores" role="tab" aria-expanded="false">Fornecedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#transportadores" role="tab" aria-expanded="false">Transportadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#agente" role="tab" aria-expanded="false">Agente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-expanded="false">Atos Legais</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="my-tab-content" class="tab-content">

      <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
        <app-basico-importacao [empresa]="empresa"></app-basico-importacao>
      </div>

      <div class="tab-pane" id="itens" role="tabpanel" aria-expanded="true">
        <app-itens [empresa]="empresa"></app-itens>
      </div>

      <div class="tab-pane" id="fornecedores" role="tabpanel" aria-expanded="false">
        <app-fornecedores></app-fornecedores>
      </div>

      <div class="tab-pane" id="transportadores" role="tabpanel" aria-expanded="false">
        <app-transportadores></app-transportadores>
      </div>



      <div class="tab-pane" id="agente" role="tabpanel" aria-expanded="false">
        <app-agente  [empresa]="empresa"></app-agente>
      </div>

      <div class="tab-pane" id="messages" role="tabpanel" aria-expanded="false">
        <h6>messages</h6>
      </div>
    </div>
  </div>
</div>
