.box-totais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    border: 1px solid gray;
    margin-right: 20px;
    border-radius: 5px;

}

.box-totais > div{
    font-size: medium;
    font-weight: 700;
}

.box-totais > span{
    font-size: medium;
}