<form [formGroup]="form_basico">
    <div class="row">
        <div class="col-md-4">
            <label>Número da Fatura</label>
            <div class="form-group">
                <input type="text" class="form-control" id="numeroFatura" placeholder="Digite o número"
                    formControlName="numeroFatura">
                <small
                    *ngIf="(formControl.numeroFatura.touched || submitted_basico) && formControl.numeroFatura.errors?.required"
                    class="text-danger">
                    Número fatura é obrigatório <i>*</i>
                </small>
            </div>
        </div>
        <div class="col-md-4">
            <label>Moeda</label>
            <div class="form-group">
                <ng-select [items]="listmoeda" bindLabel="codigo_nome" class="custom" bindValue="id" appendTo="body"
                    formControlName="moeda" placeholder="-- Selecione --"></ng-select>
                <small *ngIf="(formControl.moeda.touched || submitted_basico) && formControl.moeda.errors?.required"
                    class="text-danger">
                    Moeda é obrigatório <i>*</i>
                </small>
            </div>
        </div>
        <div class="col-md-4">
            <label>Incoterms</label>
            <div class="form-group">

                <ng-select [items]="listIncoterms" bindLabel="codigo_nome" class="custom" bindValue="id" appendTo="body"
                    formControlName="incoterms" placeholder="-- Selecione --"></ng-select>
                <small
                    *ngIf="(formControl.incoterms.touched || submitted_basico) && formControl.incoterms.errors?.required"
                    class="text-danger">
                    Incoterms é obrigatório <i>*</i>
                </small>


            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Local da Condição</label>
            <div class="form-group">
                <input type="text" class="form-control" id="localCondicao" placeholder="Digite o local da condição"
                    formControlName="localCondicao">
                <small
                    *ngIf="(formControl.localCondicao.touched || submitted_basico) && formControl.localCondicao.errors?.required"
                    class="text-danger">
                    Local Condição é obrigatório <i>*</i>
                </small>
            </div>
        </div>
        <div class="col-md-3">
            <label>Data de Emissão</label>
            <div class="form-group">
                <input type="datetime-local" class="form-control" id="dataEmissao" placeholder=""
                    formControlName="dataEmissao">
                <small
                    *ngIf="(formControl.dataEmissao.touched || submitted_basico) && formControl.dataEmissao.errors?.required"
                    class="text-danger">
                    Data de Emissão é obrigatório <i>*</i>
                </small>
            </div>
        </div>
    </div>
    <br>
    <h6>Totais</h6>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex">
                <div class="box-totais">
                    <div>
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        Itens
                    </div>
                    <span>0,0</span>
                </div>
                <div class="box-totais">
                    <div>
                        <i class="fa fa-money" aria-hidden="true"></i>
                        Valor
                    </div>
                    <span>0,0</span>
                </div>
                <div class="box-totais">
                    <div>
                        <i class="fa fa-balance-scale" aria-hidden="true"></i>
                        Kg
                    </div>
                    <span>0,0</span>
                </div>
            </div>
        </div>
    </div>
</form>