<div class="main-content-custumer-gan">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-md-12">
                            <input type="text" id="partnumber" class="form-control" placeholder="Buscar por Código">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-4">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul id="tabs" class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#home" role="tab"
                                                aria-expanded="true">Consultas</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr class="set-height">
                                        <td>Importador</td>
                                        <td>Código</td>
                                        <td>Modal</td>
                                        <td>Dt. de Registro</td>
                                        <td>DI</td>
                                        <td>MAWB</td>
                                        <td>Liber. de Carregamento</td>
                                        <td>Prev.de Chegada de Carga</td>
                                        <td>Dt. de Criação</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of processos" class="set-height">
                                        <td>{{item.parceiro.razaoSocial}}</td>
                                        <td> <a class="link-codigo" href="javascript:void(0)" (click)="onNavigateProcesso(item)">{{item.codigo}}</a> </td>
                                        <td> 
                                            <span *ngIf="item.modal">{{item.modal.nome}}</span> 
                                        </td>
                                        <td>{{item.dtRegistro | date: 'dd/MM/yyyy  h:mm:ss'}}</td>
                                        <td>{{item.cdDi}}</td>
                                        <td>{{item.docCarga}}</td>
                                        <td>{{item.dtLiberacao | date: 'dd/MM/yyyy  h:mm:ss'}}</td>
                                        <td></td>
                                        <td>{{item.dtCriacao | date: 'dd/MM/yyyy  h:mm:ss'}}</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>