<div class="main-content-custumer-gan">
    <div class="row">
        <div class="col-md-9">
            <div class="card" *ngIf="processo">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12 mb-1">

                            <container_element [ngSwitch]="processo.modal.nome">
                                <inner_element *ngSwitchCase="'Marítimo'">
                                    <i class="fa fa-ship icon-modal"  aria-hidden="true"></i>
                                </inner_element>
                                <inner_element *ngSwitchCase="'Aéreo'">
                                    <i class="fa fa-plane icon-modal" aria-hidden="true"></i> 
                                </inner_element>
                            </container_element>

                           
                            <span class="codigo-processo-title" >{{processo.codigo}}</span>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="progress" style="height: 16px;">
                                <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <container_element [ngSwitch]="isTabSelect">
                        <inner_element *ngSwitchCase="'Feed'">
                            <app-feed></app-feed>
                        </inner_element>
                        <inner_element *ngSwitchCase="'Básico'">
                            <app-basico></app-basico>
                        </inner_element>
                    </container_element>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <app-vertical-tabs [listTabs]="listTabs"
                (answerIsSelectTab)="reciverIsSelectTab($event)"></app-vertical-tabs>
        </div>

    </div>
</div>