<div class="main-content-custumer-gan">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between align-items-center flex-column"  *ngIf="isLoadingProcesso">
            <div class="spinner-border spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span class="mt-2">Carregando dados...</span>
        </div>
        <div class="col-md-9">
            <div class="card" *ngIf="processo">
                <div class="card-body">

                    <app-header-processo [processo]="processo"></app-header-processo>
              
                    <container_element [ngSwitch]="isTabSelect">
                        <inner_element *ngSwitchCase="'Feed'">
                            <app-feed></app-feed>
                        </inner_element>
                        <inner_element *ngSwitchCase="'Básico'">
                            <app-basico [processo]="processo"></app-basico>
                        </inner_element>
                        <inner_element *ngSwitchCase="'Faturas'">
                            <app-relatorio-faturas [processo]="processo"></app-relatorio-faturas>
                        </inner_element>
                    </container_element>
                </div>
            </div>

        </div>
        <div class="col-md-3" *ngIf="!isLoadingProcesso">
            <app-vertical-tabs [listTabs]="listTabs"
                (answerIsSelectTab)="reciverIsSelectTab($event)"></app-vertical-tabs>
        </div>

    </div>
</div>