<div class="main-content-custumer-gan">
    <div class="row">
        <div class="col-md-12">
            <h5>{{nome_fantasia}}</h5>
        </div>

    </div>

    <div *ngIf="nome_fantasia" class="row">
        <div class="col-md-9">

            <container_element [ngSwitch]="isTabSelect">
                <inner_element *ngSwitchCase="'Básico'">
                    <app-basico [empresa]="empresa" (isCheckImportador)="reciverIsCheckImportador($event)"></app-basico>
                </inner_element>
                <inner_element *ngSwitchCase="'Usuários'">
                    <app-usuarios [empresa]="empresa" ></app-usuarios>
                </inner_element>
                <inner_element *ngSwitchCase="'Importação'">
                    <app-importacao [empresa]="empresa"></app-importacao>
                </inner_element>
                <inner_element *ngSwitchCase="'Exportação'">
                    <app-exportacao></app-exportacao>
                </inner_element>
                <inner_element *ngSwitchCase="'Agenciamento de Carga'">
                    <app-agenciamento-carga></app-agenciamento-carga>
                </inner_element>
                <inner_element *ngSwitchCase="'Documentos'">
                    <app-documentos></app-documentos>
                </inner_element>
                <inner_element *ngSwitchCase="'Credenciais'">
                    <app-credenciais></app-credenciais>
                </inner_element>
                <inner_element *ngSwitchCase="'Financeiro'">
                    <app-financeiro></app-financeiro>
                </inner_element>
                <inner_element *ngSwitchCase="'Relatórios'">
                    <app-relatorios></app-relatorios>
                </inner_element>
            </container_element>

        </div>

        <div class="col-md-3">
            <app-vertical-tabs [listTabs]="listTabsAux"
                (answerIsSelectTab)="reciverIsSelectTab($event)"></app-vertical-tabs>
        </div>
    </div>


</div>