.lineTitle{
    border: 1px solid; 
     color: gray;
}

.title-faturas{
    font-size: 20px;
}


.table {
    font-size: 12px;
}

thead>tr>td {
    font-weight: 700;
}

.set-height td  {
    padding: 8px;
}

.link-codigo{
    color: #1068b8 ;
}

.st-input-with-bt{
   border-radius: 0 !important;
}

.bt-create{
    margin: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 10px;
    width: 120px;
}

.bt-option{
    margin: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: 10px;
}

.selectRow{
    background-color: #B6D0E2 !important;
}