<div class="row">
    <div class="col-md-12">
        <span class="title-faturas">Faturas</span>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="d-flex mb-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle bt-option" type="button" id="dropdownMenuButton" data-toggle="dropdown"  aria-expanded="false">
                  Opções
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Gerar PLIs</a>
                  <a class="dropdown-item" href="#">Gerar Adições</a>
                  <a class="dropdown-item" href="#">Atualizar Alíquotas NCM</a>
                </div>
              </div>
            <input type="text" id="partnumber" class="form-control st-input-with-bt" placeholder="Buscar por número">
            <button class="bt-create btn btn-primary" (click)="goToNovoFatura()">  <i class="fa fa-plus"></i> Novo</button>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr class="set-height">
                    <td>Número</td>
                    <td>Fornecedor</td>
                    <td>Fornecedor</td>
                    <td>Valor Total</td>
                    <td>Peso</td>
                </tr>
            </thead>
        </table>
    </div>
</div>