<form [formGroup]="form_pli">

    <div class="row">
        <div class="col-md-12 d-flex justify-content-between align-items-center">
            <h6>Impostos (II e IPI)</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <label>Regime de Tributação</label>
            <div class="form-group">
                <ng-select [items]="listregimedeTributacao" bindLabel="codigo_nome" class="custom" bindValue="id"
                    appendTo="body" formControlName="regimedeTributacao" placeholder="-- Selecione --"></ng-select>

                <small
                    *ngIf="(formControl.regimedeTributacao.touched || submitted_pli) && formControl.regimedeTributacao.errors?.required"
                    class="text-danger">
                    Regime de Tributação é obrigatório <i>*</i>
                </small>
            </div>
        </div>
        <div class="col-md-4">
            <label>Fundamento Legal</label>
            <div class="form-group">
                <ng-select [items]="listfundamentoLegal" bindLabel="codigo_nome" class="custom" bindValue="id"
                    appendTo="body" formControlName="fundamentoLegal" placeholder="-- Selecione --"></ng-select>

                <small
                    *ngIf="(formControl.fundamentoLegal.touched || submitted_pli) && formControl.fundamentoLegal.errors?.required"
                    class="text-danger">
                    Fundamento Legal é obrigatório <i>*</i>
                </small>
            </div>
        </div>
        <div class="col-md-4">
            <label>Tipo de Acordo Tarifário</label>
            <div class="form-group">
                <ng-select [items]="listtipodeAcordoTarifario" bindLabel="codigo_nome" class="custom" bindValue="id"
                    appendTo="body" formControlName="tipodeAcordoTarifario" placeholder="-- Selecione --"></ng-select>

                <small
                    *ngIf="(formControl.tipodeAcordoTarifario.touched || submitted_pli) && formControl.tipodeAcordoTarifario.errors?.required"
                    class="text-danger">
                    Tipo de Acordo Tarifário é obrigatório <i>*</i>
                </small>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h6>Câmbio</h6>
            <hr>
        </div>
        <div class="col-md-6">
            <h6>Outros</h6>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <label>Cobertura cambial</label>
            <div class="form-group">
                <ng-select [items]="listcoberturacambial" bindLabel="codigo_nome" class="custom" bindValue="id"
                    appendTo="body" formControlName="coberturacambial" placeholder="-- Selecione --"></ng-select>

                <small
                    *ngIf="(formControl.coberturacambial.touched || submitted_pli) && formControl.coberturacambial.errors?.required"
                    class="text-danger">
                    Cobertura cambial é obrigatório <i>*</i>
                </small>
            </div>
        </div>
        <div class="col-md-3 offset-md-2">
            <label>Agência SECEX</label>
            <div class="form-group">
                <input type="text" class="form-control" id="agenciaSECEX" formControlName="agenciaSECEX"
                    placeholder="Opcional">
            </div>

        </div>
        <div class="col-md-3">
            <label>Ato Drawback</label>
            <div class="form-group">
                <input type="text" class="form-control" id="atoDrawback" formControlName="atoDrawback"
                    placeholder="Opcional">
            </div>

        </div>
    </div>

</form>