<div class="toolbar">
    <div class="d-flex justify-content-between">

        <div>
            <div *ngIf="isLoad" class="spinner-border text-secondary"></div>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-round btn-icon mr-2" (click)="openModal(template)">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>

</div>

<div>
    <table class="table table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
                <div class="d-flex flex-row justify-content-between align-items-end mb-2">
                    <span class=" total">Total de registros: {{agentesList.length}}. Mostrando 10.</span>
                    <input type="text" id="partnumber" class="form-control"  placeholder="Buscar por nome" style="width: 300px;" (keyup)="keyup($event.target.value)">
                </div>
            </tr>
        </thead>
        <tbody class="mt-4">
            <tr
                *ngFor="let row of listAgenteListDynamic | paginate: { id: 'agente_id', itemsPerPage: 10, currentPage: p}; index as i; ">
                <div class="d-flex flex-column " style="padding: 12px 8px 12px 8px">

                    <div class="d-flex justify-content-between">
                        <span class="nomefantasia" (click)="openModal(template, 'update', row)" >{{row.nomeFantasia}}</span>

                        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onDelete(row)">
                            <span aria-hidden="true" class="visually-hidden">&times;</span>
                        </button>
                    </div>
                    
                    <span class="endereco">{{row.logradouro}}, {{row.numero}} - {{row.bairro}} - {{row.cidade}} - {{row.estado}} - {{row.pais.nome}}</span>
                    

                </div>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
       <pagination-controls id="agente_id" (pageChange)="p = $event"></pagination-controls>
    </div>

</div>

<ng-template #template>

    <div class="col-md-12 d-flex justify-content-between modal-header-custom">

        <h5 class="modal-title pull-left"> <i class="fa fa-building" aria-hidden="true"></i> {{titleModal}} Agente</h5>

        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>

    </div>
    <div class="mt-4">
        <form [formGroup]="form">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <label>Nome</label>
                        <div class="form-group">
                            <input type="text" class="form-control input-custom" id="nome" formControlName="nome" required>
                            <small *ngIf="(formControl.nome.touched || submitted) && formControl.nome.errors?.required"
                                class="text-danger">
                                Nome é obrigatório <i>*</i>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Logradouro</label>
                        <div class="form-group">
                            <input type="text" class="form-control input-custom" id="logradouro" formControlName="logradouro"
                                required>
                            <small
                                *ngIf="(formControl.logradouro.touched || submitted) && formControl.logradouro.errors?.required"
                                class="text-danger">
                                Logradouro é obrigatório <i>*</i>
                            </small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Número</label>
                        <div class="form-group">
                            <input type="text" class="form-control input-custom" id="numero" formControlName="numero">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Complemento</label>
                        <div class="form-group">
                            <input type="text" class="form-control input-custom" id="complemento" formControlName="complemento">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Bairro</label>
                        <div class="form-group">
                            <input type="text" class="form-control input-custom" id="bairro" formControlName="bairro">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>CEP</label>
                        <div class="form-group">
                            <input type="text" class="form-control input-custom" id="cep" formControlName="cep">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Cidade</label>
                        <div class="form-group">
                            <input type="text" class="form-control input-custom" id="cidade" formControlName="cidade">
                            <small
                                *ngIf="(formControl.cidade.touched || submitted) && formControl.cidade.errors?.required"
                                class="text-danger">
                                Cidade é obrigatório <i>*</i>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Estado</label>
                        <div class="form-group">
                            <input type="text" class="form-control input-custom" id="estado" formControlName="estado">
                            <small
                                *ngIf="(formControl.estado.touched || submitted) && formControl.estado.errors?.required"
                                class="text-danger">
                                Estado é obrigatório <i>*</i>
                            </small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>País</label>
                        <div class="form-group">

                            <div class="form-group">
                                <ng-select [items]="paises" bindLabel="nome" class="custom" bindValue="id"
                                    appendTo="body" formControlName="pais" placeholder="Selecione País"></ng-select>
                            </div>
                            <small *ngIf="(formControl.pais.touched || submitted) && formControl.pais.errors?.required"
                                class="text-danger">
                                País é obrigatório <i>*</i>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>NIF</label>
                        <div class="form-group">
                            <input type="text" class="form-control input-custom" id="nif" formControlName="nif">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Código Interno</label>
                        <div class="form-group">
                            <input type="text" class="form-control input-custom" id="codigointerno" formControlName="codigointerno">
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="col-md-12 d-flex justify-content-end mt-4 modal-footer-custom">
        
                    <button type="button" class="btn btn-primary mt-4 mb-4" (click)="onSubmit()">
                        <div *ngIf="isLoadSave" class="spinner-border spinner-border-sm text-light" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span *ngIf="!isLoadSave">Salvar</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>