.modal-header-custom {
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 22px;
    background-color: #f4f3ef;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-footer-custom {
    border-top: 1px solid rgb(212, 212, 212);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#arquivo[type="file"] {
    display: none;
}

.partnumber {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.descricao {
    font-size: 14px;
    color: #16a085;
}

.nomeFantasia {
    font-size: 12px;
}

.ncm {
    background-color: #3498db;
    color: #FFF;
    padding: 2px;
    border-radius: 4px;
    font-weight: 500;
    white-space: 0.5;
}

.total{
    font-size: 16px;
}