<div class="toolbar">
    <div class="d-flex justify-content-between">

        <div>
            <div *ngIf="isLoadFile" class="spinner-border text-secondary"></div>
            <div *ngIf="isLoad" class="spinner-border text-secondary"></div>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-round btn-icon mr-2" (click)="openModal(template)">
                <i class="fa fa-plus"></i>
            </button>

            <input #myInput type="file" name="arquivo" id="arquivo" #file multiple="false"
                (change)="onFileChange($event)">

            <button class="btn btn-primary btn-round btn-icon " (click)="file.click()">
                <i class="fa fa-upload" aria-hidden="true"></i>
            </button>

        </div>
    </div>

</div>

<div>
    <table class="table table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
                <div class="d-flex flex-row justify-content-between align-items-end mb-2">
                    <span class=" total">Total de registros: {{total}}. Mostrando {{itemsV.length}}.</span>
                    <input type="text" id="partnumber" class="form-control"  placeholder="Buscar por partnumber" style="width: 300px;" (keyup.enter)="sendit($event.target.value)" >
                </div>
            </tr>
        </thead>
        <tbody class="mt-4">
            <tr
                *ngFor="let item of itemsV | paginate: { itemsPerPage: take, currentPage: p, totalItems: total }; index as i; ">
                <div class="d-flex flex-column " style="padding: 8px;">
                    <span class="partnumber" (click)="openModal(template, 'update', item)" >{{item.partNumber}}</span>
                    <span class="descricao">{{item.descricao}}</span>
                    <span class="nomeFantasia">{{item.fornecedor.nomeFantasia}}</span>
                    <div style="font-size: 11px;" class="mt-1">
                        <span class="ncm">{{item.ncm
                            | mask: '0000.00.00'}}</span>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>

</div>

<ng-template #template>

    <div class="col-md-12 d-flex justify-content-between modal-header-custom">

        <h5 class="modal-title pull-left"> <i class="fa fa-cube" aria-hidden="true"></i> {{titleModal}} Item</h5>

        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>

    </div>
    <div class="mt-4">

        <div class="nav-tabs-navigation">

            <div class="nav-tabs-wrapper">
                <ul id="tabs" class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#descricao" role="tab"
                            aria-expanded="true">Descrição</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#classificacao" role="tab"
                            aria-expanded="false">Classificação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#zfm" role="tab" aria-expanded="false">ZFM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#aliquotas" role="tab"
                            aria-expanded="false">Alíquotas</a>
                    </li>

                </ul>
            </div>

        </div>
        <!--######################################################################################################################################-->
        <div id="my-tab-content" class="tab-content">

            <div class="tab-pane active" id="descricao" role="tabpanel" aria-expanded="false">
                <form [formGroup]="form">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="partnumber" formControlName="partnumber"
                                        placeholder="Part Number" required>
                                    <small
                                        *ngIf="(formControl.partnumber.touched || submitted) && formControl.partnumber.errors?.required"
                                        class="text-danger">
                                        Part Number é obrigatório <i>*</i>
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="codigo_interno"
                                        formControlName="codigo_interno" placeholder="Código Interno">
                                </div>

                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="unidade_organizacional"
                                        formControlName="unidade_organizacional" placeholder="Unidade Organizacional">
                                </div>
                            </div>

                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="decricao_detalhada"
                                        formControlName="decricao_detalhada" placeholder="Descrição detalhada do item"
                                        rows="6"></textarea>
                                    <small
                                        *ngIf="(formControl.decricao_detalhada.touched || submitted) && formControl.decricao_detalhada.errors?.required"
                                        class="text-danger">
                                        Descrição é obrigatório <i>*</i>
                                    </small>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea type="text" class="form-control" id="decricao_item"
                                        formControlName="decricao_item"
                                        placeholder="descrição do item para a NFe (opcional)" rows="2"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <ng-select [items]="fornecedor$ | async" bindValue="id"
                                        [minTermLength]="minLengthTerm" [loading]="fornecedorLoading"
                                        typeToSearchText="Por favor digite {{minLengthTerm}} ou mais caractéres"
                                        [typeahead]="fornecedorInput$" formControlName="fornecedor"
                                        placeholder="Selecione o fornecedor">

                                        <ng-template ng-option-tmp ng-label-tmp let-item="item">
                                            <span [innerHTML]="item.nomeFantasia | boldSpan:regexStr"></span>

                                        </ng-template>

                                    </ng-select>
                                    <small
                                        *ngIf="(formControl.fornecedor.touched || submitted) && formControl.fornecedor.errors?.required"
                                        class="text-danger">
                                        Fornecedor é obrigatório <i>*</i>
                                    </small>

                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <!--######################################################################################################################################-->
            <div class="tab-pane" id="classificacao" role="tabpanel" aria-expanded="false">
                <form [formGroup]="form">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <label>NCM</label>
                                <div class="form-group">

                                    <ng-select [items]="ncm$ | async" bindValue="codigo" [minTermLength]="minLengthTerm"
                                        (change)="onChange($event)" [loading]="ncmLoading"
                                        typeToSearchText="Por favor digite {{minLengthTerm}} ou mais caractéres"
                                        [typeahead]="ncmInput$" formControlName="ncm" placeholder="Selecione NCM...">

                                        <ng-template ng-option-tmp ng-label-tmp let-item="item">
                                            <span [innerHTML]="item.codigo_nome | boldSpan:regexStr"></span>

                                        </ng-template>

                                    </ng-select>
                                    <small
                                        *ngIf="(formControl.ncm.touched || submitted) && formControl.ncm.errors?.required"
                                        class="text-danger">
                                        NCM é obrigatório <i>*</i>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-2">
                                <label>NALADI</label>
                                <div class="form-group">

                                    <ng-select [items]="naladi$ | async" bindValue="codigo"
                                        [minTermLength]="minLengthTerm" [loading]="naladiLoading"
                                        typeToSearchText="Por favor digite {{minLengthTerm}} ou mais caractéres"
                                        [typeahead]="naladiInput$" formControlName="naladi"
                                        placeholder="Selecione NALADI...">

                                        <ng-template ng-option-tmp ng-label-tmp let-item="item">
                                            <span [innerHTML]="item.codigo_nome | boldSpan:regexStr"></span>

                                        </ng-template>

                                    </ng-select>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--######################################################################################################################################-->
            <div class="tab-pane" id="zfm" role="tabpanel" aria-expanded="false">
                <form [formGroup]="form">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10">
                                <label>Produto</label>
                                <div class="form-group">

                                    <ng-select [items]="produto$ | async" bindValue="id" [minTermLength]="minLengthTerm"
                                        [loading]="produtoLoading"
                                        typeToSearchText="Por favor digite {{minLengthTerm}} ou mais caractéres"
                                        [typeahead]="produtoInput$" formControlName="produto"
                                        placeholder="Selecione o produto...">

                                        <ng-template ng-option-tmp ng-label-tmp let-item="item">
                                            <span [innerHTML]="item.codigo_nome | boldSpan:regexStr"></span>

                                        </ng-template>

                                    </ng-select>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Tipo</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="tipo" formControlName="tipo">
                                </div>

                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <label>Detalhe</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="detalhe" formControlName="detalhe">
                                </div>
                            </div>

                        </div>
                        <div class="row mt-2">

                            <div class="col-md-6">
                                <div class="d-flex justify-content-between align-items-end ">
                                    <span>Informar tipo e modelo no PLI</span>
                                    <bSwitch [switch-on-color]="'primary'" [switch-off-color]="'primary'"
                                        [switch-off-text]="'Não'" [switch-on-text]="'Sim'"
                                        formControlName="isTipoEModeloPli" (changeState)="onChange($event)">
                                    </bSwitch>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
            <!--######################################################################################################################################-->
            <div class="tab-pane" id="aliquotas" role="tabpanel" aria-expanded="false">
                <form [formGroup]="form">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Alíquota II</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="aliquota_ii"
                                        formControlName="aliquota_ii" currencyMask
                                        [options]="{ suffix : '%', prefix: '', thousands: '.', decimal: ',' , align: 'left'}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Alíquota IPI</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="aliquota_ipi"
                                        formControlName="aliquota_ipi" currencyMask
                                        [options]="{ suffix : '%', prefix: '', thousands: '.', decimal: ',' , align: 'left'}">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Alíquota PIS</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="aliquota_pis"
                                        formControlName="aliquota_pis" currencyMask
                                        [options]="{ suffix : '%', prefix: '', thousands: '.', decimal: ',' , align: 'left'}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Alíquota COFINS</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="aliquota_cofins"
                                        formControlName="aliquota_cofins" currencyMask
                                        [options]="{ suffix : '%', prefix: '', thousands: '.', decimal: ',' , align: 'left'}">
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div>
        <div class="col-md-12 d-flex justify-content-end mt-4 modal-footer-custom">

            <button type="button" class="btn btn-primary mt-4 mb-4" (click)="onSubmit()">
                <div *ngIf="isLoadSave" class="spinner-border spinner-border-sm text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <span *ngIf="!isLoadSave">Salvar</span>
            </button>
        </div>
    </div>
</ng-template>