<div class="row">
  <div class="col-md-12">
    <form [formGroup]="{}">
      <fieldset class="border p-2">
        <legend class="w-auto legend-lb">Linhas de Produção</legend>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" id="localizarLinhas" placeholder="Localizar..." formControlName="localizarLinhas" required>
            </div>
          </div>
        </div>

      </fieldset>
      <div class="text-right">
        <button type="submit" class="btn btn-primary" (click)="{}">
            <span >Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
