<form [formGroup]="form">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <legend class="legend-lb">RFB / Siscomex</legend>
                    <hr>
                </div>
                <div class="col-md-12">
                    <label>CPF do Representante Legal</label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="cpfRepresentanteLegal" placeholder="" mask="000.000.000-00">
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="d-flex justify-content-between align-items-end ">
                        <span>Aprova registro DI</span>
                        <bSwitch [switch-on-color]="'primary'" [switch-off-color]="'primary'" [switch-off-text]="'Não'"
                            [switch-on-text]="'Sim'" formControlName="isAprovaregistroDI"
                            (changeState)="onChange($event)">
                        </bSwitch>
                    </div>
                </div>

                <div class="col-md-12 mt-3">
                    <label>Atividade Econômica</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" formControlName="atividadeEconomica">
                    </div>
                </div>
                <div class="col-md-12">
                    <label>CNAE</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" formControlName="CNAE">
                    </div>
                </div>
                <div class="col-md-12">
                    <label>Número de Cadastro no MA</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" formControlName="numeroCadastroMA">
                    </div>
                </div>
                <div class="col-md-12">
                    <label>Limite de valor FOB sem moderação</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" formControlName="limiteValorFob" currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' , align: 'left'}">
                    </div>
                </div>
                <div class="col-md-12">
                    <label>Despachante padrão</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" formControlName="DespachantePadrão">
                    </div>
                </div>
                <div class="col-md-12">
                    <label>Prazo em dias para Ce Mercante crítico</label>
                    <div class="form-group"> 
                        <input type="text" class="form-control" placeholder="" formControlName="PrazoDiasCeMercante" mask="separator.2" thousandSeparator="." separatorLimit="99999999999999">
                    </div>
                </div>
                <div class="col-md-12">
                    <label>Centro de Custo</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" formControlName="CentroCusto">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <legend class="legend-lb">Inscrições Estaduais</legend>
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nome" placeholder="Adicionar Inscrição Estatual"
                            required>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <legend class="legend-lb">Cadastro</legend>
                    <hr>
                </div>
                <div class="col-md-12">

                    <div class="d-flex justify-content-between align-items-end ">
                        <span>Cadastro de itens</span>
                        <bSwitch [switch-on-color]="'primary'" [switch-off-color]="'primary'" [switch-off-text]="'Não'"
                            [switch-on-text]="'Sim'" formControlName="isCadastrarItens"
                            (changeState)="onChange($event)">
                        </bSwitch>
                    </div>
                    <div class="d-flex justify-content-between align-items-end mt-3">
                        <span>Atualizar itens</span>
                        <bSwitch [switch-on-color]="'primary'" [switch-off-color]="'primary'" [switch-off-text]="'Não'"
                            [switch-on-text]="'Sim'" formControlName="isAtualizarItens"
                            (changeState)="onChange($event)">
                        </bSwitch>
                    </div>
                    <div class="d-flex justify-content-between align-items-end mt-3">
                        <span>Cadastro de fornecedores/fabricantes</span>
                        <bSwitch [switch-on-color]="'primary'" [switch-off-color]="'primary'" [switch-off-text]="'Não'"
                            [switch-on-text]="'Sim'" formControlName="isCadastrarFornecedores"
                            (changeState)="onChange($event)">
                        </bSwitch>
                    </div>
                    <div class="d-flex justify-content-between align-items-end mt-3">
                        <span>Atualizar fornecedores/fabricantes</span>
                        <bSwitch [switch-on-color]="'primary'" [switch-off-color]="'primary'" [switch-off-text]="'Não'"
                            [switch-on-text]="'Sim'" formControlName="isAtualizarFornecedores"
                            (changeState)="onChange($event)">
                        </bSwitch>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <legend class="legend-lb">Controle</legend>
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-end mt-3">
                        <span>Controlar demurrage</span>
                        <bSwitch [switch-on-color]="'primary'" [switch-off-color]="'primary'" [switch-off-text]="'Não'"
                            [switch-on-text]="'Sim'" formControlName="isControlarDemurrage"
                            (changeState)="onChange($event)">
                        </bSwitch>
                    </div>
                    <div class="d-flex justify-content-between align-items-end mt-3">
                        <span>Controlar CE Mercantes</span>
                        <bSwitch [switch-on-color]="'primary'" [switch-off-color]="'primary'" [switch-off-text]="'Não'"
                            [switch-on-text]="'Sim'" formControlName="isControlarCEMercante"
                            (changeState)="onChange($event)">
                        </bSwitch>
                    </div>
                    <div class="d-flex justify-content-between align-items-end mt-3">
                        <span>Controlar câmbio</span>
                        <bSwitch [switch-on-color]="'primary'" [switch-off-color]="'primary'" [switch-off-text]="'Não'"
                            [switch-on-text]="'Sim'" formControlName="isControlarCambio"
                            (changeState)="onChange($event)">
                        </bSwitch>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <legend class="legend-lb">Seguro</legend>
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-end">
                        <span>Segurado pela</span>
                        <bSwitch [switch-on-color]="'primary'" [switch-off-color]="'primary'" [switch-off-text]="'Não'"
                            [switch-on-text]="'Sim'" formControlName="isSeguradoPela" (changeState)="onChange($event)">
                        </bSwitch>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-12 d-flex justify-content-end">

            <button type="submit" class="btn btn-primary" (click)="onSubmit()">
                <div *ngIf="isLoadSave" class="spinner-border spinner-border-sm text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <span *ngIf="!isLoadSave">Salvar</span>
            </button>
        </div>
    </div>
</form>